.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.welcome {
    background-color: dodgerblue;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome .msg {
    margin-right: 7px;
}

.welcome .btn {
    margin-left: auto;
    border-radius: 3px;
    background: rgba(255, 48, 43, 0.8);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome button:hover {
    background-color: #b30000;
}

.header-line {
    height: 2px;
    background-color: white;
    width: 100%;
}

.selection {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: black;
}

.equipos {
    width: 38%;
    border: 1px solid black;
    padding: 20px;
}

.equipos .header {
    display: flex;
    margin-left: auto;
    padding: 0 10px 0 10px;
}

.equipos .header .btn{
    margin-left: auto;
}

.partidos {
    width: 58%;
    border: 1px solid black;
    padding: 20px;
}

.partidos .header {
    display: flex;
    margin-left: auto;
    padding: 0 10px 0 10px;
}

.partidos .header .btn{
    margin-left: auto;
}

.equipos h3,
.partidos h3 {
    margin-bottom: 10px;
}
