.wrapper .login-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.login-link .btnLogin {
    color: #000;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
}

.login-link .btnLogin:hover {
    color: dodgerblue;
}
